@import url("https://fonts.googleapis.com/css2?family=Anton&family=Ubuntu:wght@300&display=swap");

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #B3EDC7;
    color: #363636;
    font-family: Ubuntu, Arial, Sans-serif;
}

.container {
    width: 50%;
}

form {
    display: grid;
    grid-gap: .5em;
    gap: .5em;
    grid-template-columns: 6em 1fr;
}

.result-container {
    text-align: center;
    width: 100%;
}

#corg {
    margin-top: 20px;
    height: 500px;
    width: 100%;
    background-image: url(images/corg.jpg);
    background-repeat: no-repeat;
    background-position: center top;
}